<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track your expense here easily</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <header id="navHead">
        <nav id="navBar">
            <ul id="home-pricing">
                <li><a class="active" href="/add-expense">Home</a></li>

                <li><a href="/support">Support</a></li>
            </ul>
        <ul id="login-items">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign up</a></li>
        </ul>
        </nav>
    </header>
    <main>
        <section id="sec-1">
            <h1>Track Your <br> <span class="red">Expense</span> <br>Easily with our help</h1>
            <p>Login or Sign up to get started and <br>make your life easy</p>
            <button id="login-btn" onclick="window.location.href='/login';">Login</button>
            <button id="signup-btn" onclick="window.location.href='/signup';">Sign up</button>
        </section>
        <section id="sec-2">
            <img src="/css/section-img.jpg" alt="img">
        </section>
    </main>
         <hr>
    <footer>
        <div>
            <p>Your own expense tracker - 2025</p>
        </div>
    </footer>

    
</body>
</html>